

<% include top %>
<table class="clientInfo">
  <tr>
    <th><span style="color:#269DD4;font-weight:bold">ClientID</span</th>
    <th><span style="color:#269DD4;font-weight:bold">MacAddress</span</th>
    <th><span style="color:#269DD4;font-weight:bold">Status</span</th>
    <th><span style="color:#269DD4;font-weight:bold">Version</span</th>
    <th><span style="color:#269DD4;font-weight:bold">Location</span</th>
    <th><span style="color:#269DD4;font-weight:bold">Type</span</th>
    <th><span style="color:#269DD4;font-weight:bold">Name</span</th>
    <!-- <th><span style="color:blue;font-weight:bold">UpdateInfo</span</th> -->
  </tr>
  <% for(var i=0; i<clientInfo.length; i++) {%>
    <tr class="clientInfos">
      <th><%= clientInfo[i].clientId %></th>
      <th><%= clientInfo[i].macAddress %></th>
      <th><%= clientInfo[i].clientState %></th>
      <th><%= clientInfo[i].firmwareVersion %></th>
      <th><%= clientInfo[i].location %></th>
      <th><%= clientInfo[i].type %></th>
      <th><%= clientInfo[i].name %></th>
      <!-- <th><%= JSON.stringify(clientInfo[i].updateInfo) %></th> -->
    </tr>
  <% } %>
</table>
<% include bottom %>