<!-- <html>
  <head>
    <script src="/mqtt.js"></script>
  </head>
  <body>
    <script>
      var client = mqtt.connect({
          clientId: 'mqtt_webapp', 
          host: 'localhost', 
          port: 1884, 
          keepalive: 60, 
          username: esp32, 
          password: mtt@23377
      });

      client.subscribe("mqtt/demo");

      client.on("message", function(topic, payload) {
        alert([topic, payload].join(": "));
        client.end();
      });

      client.publish("mqtt/demo", "hello world!");
    </script>
  </body>
</html> -->


<!-- <script src="./mqtt.js"></script>
<script>
      var client = mqtt.connect('mqtt://113.161.21.15:1884', {
          clientId: 'mqtt_webapp', 
          // host: '113.161.21.15', 
          // port: 1884, 
          username: 'esp32', 
          password: 'mtt@23377'
      });

      client.subscribe("mqtt/demo");

      client.on("message", function(topic, payload) {
        alert([topic, payload].join(": "));
        client.end();
      });

      client.publish("mqtt/demo", "hello world!");
</script> -->
<% include top %>
<ul class="clientInfo">
  <% for(var i=0; i<clientInfo.length; i++) {%>
    <li class="clientInfos">
      <span><%= clientInfo[i].clientId %><br /></span>
      <span><%= clientInfo[i].macAddress %><br /></span>
      <span><%= clientInfo[i].firmwareVersion %><br /></span>
      <span><%= clientInfo[i].clientState %><br /></span>
      <span><%= clientInfo[i].center %><br /></span>
      <span><%= clientInfo[i].type %><br /></span>
      <span><%= clientInfo[i].location %><br /></span>
      <span><%= clientInfo[i].deviceConfig %><br /></span>
      <span><%= clientInfo[i].updateInfo %><br /></span>
    </li>
  <% } %>
</ul>
<% include bottom %>